/* style sheet for Sandacus.github.io */

/* 	Set Colors: */
	:root {
		--main-bg-color: #272822;
		--main-text-color: #e6db74;
    --main-font-size: 20px;
	}

	html, a {
		background-color: var(--main-bg-color);
		color: var(--main-text-color);
		font-family: "Hack", "Lucida Console", Monaco, monospace;
    text-decoration: none;
    font-size: var(--main-font-size)
	}

	body {
		width: 700px;
		margin: auto;
    font-size: var(--main-font-size)
	}

  span {
    font-size: var(--main-font-size)
  }

	.block {
		display: block;
		width: 150px;
    font-size: var(--main-font-size)

	}

	.thirdline {
		width: 100%;
	}

	.inverseColor, a:hover {
		color: var(--main-bg-color);
		background-color: var(--main-text-color);
	}


	span.left {
		float: left;
	}

	span.center {
		text-align: center;
		width: 100%;
	}

	span.right {
		float: right;
		text-align: right;
	}

	span.leftish {
		position:absolute;
		left: 5%;
	}

	span.centerish {
		position: absolute;
		left: 40%;
	}

	span.rightish {
		position: absolute;
		left: 80%;
	}

	#hostname {
		float: right;
		position: relative;
		left: -50%;
		text-align: right;

	}

	.subtitle {
		text-align: center;
	}

	table {
		position: relative;
		top: 5em;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.prompt {
		position: relative;
		display: inline-block;
		color: var(--main-bg-color);
		background-color: var(--main-text-color);
	}

	form {
		display: inline-block;
	}

	td {
		text-align: left;
	}

	.smallTD {
		text-align: right;
	}



	input {
		background-color: #272822;
		color: #e6db74;
		border: 0;
		font-size: 12pt;
	}

	input:focus {
		border:0;
		outline: none;
	}
